apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-portfoliode-ployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-portfolio
  template:
    metadata:
      labels:
        app: devops-portfolio
    spec:
      containers:
      - name: devops-portfolio-container
        image: luck667986/devops-portfolio-api:v0
        ports:
        - containerPort: 8000
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        env:
        - name: "REDIS_HOST"
          value: "redis-service"
        - name: "REDIS_PORT"
          value: "6379"

---
apiVersion: v1
kind: Service
metadata:
  name: devops-portfolio-service
spec:
  selector:
    app: devops-portfolio
  ports:
  - protocol: TCP
    port: 8000
    targetPort: 8000
  type: NodePort

---
# redis service
apiVersion: v1
kind: Service
metadata:
  name: redis-service
spec:
  selector:
    app: redis
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
---
# redis Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379